<div class="todo-container">
  <div class="add-task">
    <div class="todo-filter">
      Pokaż:
      <select [(ngModel)]="filter">
        <option value="all">Wszystkie</option>
        <option value="done">Zrobione</option>
        <option value="notDone">Niezrobione</option>
      </select>
    </div>
    <input type="text" placeholder="Nowe zadanie" [(ngModel)]="newTaskText">
    <button (click)="addTask()">+</button>
  </div>
  <div class="todo-list-header">
    <div class="todo-list-head">
      Zadanie
    </div>
    <div class="todo-list-head">
      Zrobione?
    </div>
  </div>
  <div class="todo-list">
    <div *ngFor="let task of filteredTasks" class="todo">
      <span [ngClass]="{'done': task.done}">{{ task.task }}</span>
      <div class="done-icon" (click)="toggleTask(task)">
        <fa-icon
          [icon]="task.done ? faCheck : faTimes"
          [ngClass]="{
            'text-green': task.done,
            'text-red': !task.done
          }"
        ></fa-icon>
      </div>
      <div>
        <button (click)="deleteTask(task._id!)" class="btn"><fa-icon [icon]="faTrash"></fa-icon>Usuń</button>
      </div>
    </div>
  </div>
</div>